body {
  /*background-color: aqua;*/
  background-color: #451f55ff;
  color: #66635bff;
}

.top {
  text-align: center;
  color: #66635bff;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/*$mimi-pink: #ffd2fcff;
$russian-violet: #451f55ff;
$tea-green: #caffb9ff;
$reseda-green: #648767ff;
$dim-gray: #66635bff;*/