

.somekindofbox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.somekindofitem {
    width: 50%;
    background-color: #ffd2fcff;
    border-radius: 20%;
}

.title {
    text-align: center;
}

.selectBox {
    display: flex;
    justify-content: space-between;
}

.selectItem {
    color: #451f55ff;
}

.randomButton {
    text-align: center;
}

.challengeBox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.challengeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 33%;
}

.challengeImages {
    width: 100%;
    height: 100%;
}

.difficulty {
    width: 20%;
    display: flex;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 9999; /* set the overlay above the rest of the content */
  }
  
  .card-animation {
    width: 20%;
    animation: card-animation 1s ease-in-out forwards;
    opacity: 0;
    z-index: 10000;
  }
  
  @keyframes card-animation {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }