.matchComp {
    background-color: aliceblue;
}

.selectBox {
    display: flex;
    justify-content: space-between;
}

.selectItem {
    color: blue;
}

.randomButton {
    text-align: center;
}

.challengeBox {
    display: flex;
    justify-content: space-around;
}

.challengeItem {
    width: 33%;
    align-items: center;
}

.challengeImages {
    width: 30%;
    height: 30%;
}

.challengeImages {
    width: 60%;
    height: 60%;
}

.difficultyImages {
    width: 25%;
    height: 25%;
}